#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    /*text-align: center;*/
    box-sizing: border-box;
}

.logo {
    height: 16em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #ee6b01);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
    box-sizing: border-box;
}



.card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    overflow: hidden;
}

.card_container p {
    font-size: 18px;
}

.info-text {
    font-size: 15px;
    font-family: "Berlin Sans FB";
    padding-right: 5rem;
    padding-bottom: 2rem;
    color: #ee6b01;
}

.info-text2 {
    font-size: 20px;
    font-family: "Berlin Sans FB";
    padding-right: 5rem;
    color: #333333;
}

.info-text3 {
    font-size: 10px;
    font-family: "Berlin Sans FB";
    padding-right: 5rem;
    color: gray;
    padding-top: 5rem;

}

.zone {
    text-align: center;
    /*padding: 1.5em;*/
    border-radius: 8px;
    background: #FFE1C6;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    border: 1px solid #ee6b01;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
}

@media (max-width: 900px) {
    #root {
        padding: 1rem;
    }

    .zone {
        max-width: 100%;  
        margin: 0 auto;
    }

    .card_container {
        flex-direction: column;
        /*align-items: center;*/
    }

    .info-text {
        font-size: 20px;
        color: #333333;
    }

    .card_container p {
        font-size: 16px;
    }
}

