#root {
    display: contents;
}
/* ===== LINKS ===== */
a {
    font-weight: 500;
    color: #646cff;
    text-decoration: none;
}
a:hover {
    color: #535bf2;
}

/* ===== BODY E LAYOUT PRINCIPAL ===== */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;         
    flex-direction: row;   
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

/* ===== DIVS PRINCIPAIS ===== */
.divLeft {
    flex: 4;
    background-color: #FFF5E6;
    padding: 2rem;
    box-sizing: border-box;
}

.divRight {
    flex: 6;
    flex-direction: column;
    background-color: #E0CCB2;
    /*padding: 2rem;*/
    box-sizing: border-box;

    display: flex;
    justify-content: left;
    align-items: center;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
}

/* ===== CARD ===== */
.divRight .card {
    width: 100%;
    max-width: 450px;
    padding: 1.5rem;
    background-color: #E0CCB2;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: left;
}

/* ===== HEADINGS ===== */
h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

/* ===== BUTTONS ===== */
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

/* ===== LIGHT MODE ===== */
@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

/* ===== RESPONSIVIDADE ===== */
@media (max-width: 900px) {
    body {
        flex-direction: column; 
        align-items: center;
    }

    .divLeft,
    .divRight {
        width: 100%;
        max-width: 600px;
        padding: 1rem;
    }

    .divRight .card {
        max-width: 100%;
        text-align: center;
    }
}


